<!-- Stephen Greer -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/styles.css">
    <title>Admin - User</title>
</head>
<body>
    <header th:insert="/fragments/header :: header"></header>
    <h1>Manage Users</h1>
    <button><a href="/admin">Home</a></button>

    <h2>Filter by User Role</h2>
    <form action="/adminUserList" method="GET">
        <label for="role">Role</label>
        <select name="role" id="role">
            <option value="">No Filter</option>
            <option value="user">User</option>
            <option value="creator">Creator</option>
            <option value="admin">Admin</option>
        </select>
        <button>Filter by Role</button>
    </form>

    <h2>Users</h2>
    <form action="/adminDeleteUsers" method="POST">
        <table>
            <tr>
                <th>Selected</th>
                <th>Name</th>
                <th>Role</th>
            </tr>
            <tr th:each="user: ${userList}">
                <td><input type="checkbox" name="deleteList" th:value="${user.userId}"></td>
                <td th:text="${user.userName}"></td>
                <td th:text="${user.userRole}"></td>
            </tr>
        </table>
        <input type="submit" value="Remove Selected Users">
    </form>

</body>
</html>
