<!DOCTYPE html>
<html lang="en"  xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <h1>Add Show</h1>
    <form action ="creatorAddShow" method = "POST" th:object="${newShow}">
	
		<label for = "showTitle">Title :</label>
		<input type = "text" id = "showTitle" name = "" th:field="*{showTitle}"><br></br>
		
		<label for = "showDesc">Description :</label>
		<input type = "text" id = "showDesc" name = "" th:field="*{showDesc}"><br></br>
		
		<label for = "showNumEp">Number of episodes : </label>
		<input type = "text" id = "showNumEp" name = "" th:field="*{showNum}"><br></br>

		<input type = "submit" value = "Submit">
		
    </form>
</body>
</html>