// Nick Best
<!DOCTYPE html>
<html lang="en"  xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

    <h1>Creator Page</h1>
    <h2 th:text="|Current User: ${currentUser.getName()}|"></h2>
    <h2 th:text="|Current Id: ${currentUser.getId()}|"></h2>
    <form>
        <button formaction="/viewCreator">View List of your shows</button>
    </form>
</body>
</html>