<!-- Nick Best -->
<!DOCTYPE html>
<html lang="en"  xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <header>
        <h4 th:text="|Current User: ${currentUser.getName()}|"></h4> 
        <button><a href="/logout">Logout</a></button>
    </header>
    <h1>Creator View Page</h1>
    <h2 th:text="|Current User: ${currentUser.getName()}|"></h2>
    <form method="POST">
    <table>
        <th>Title</th>
        <th>Description</th>
        <th>Episode Count</th>
        <th>Delete</th>
        <th>Update</th>
        <tr th:each="show : ${creatorShows}">
            <td th:text="${show.showTitle}"> </td>
            <td th:text="${show.showDesc}"> </td>
            <td th:text="${show.showNum}"> </td>
            <td><input type="checkbox" id="show" name="deleteList"  th:value=${show.showId}></td>
            <td><button formaction="creatorUpdateShow" th:value=${show.showId} name="showUpdate">Update Show</button></td>
        </tr>
    </table>
    <button formaction="creatorDelete">Delete Show(s)</button>
    </form>
    <form>
    <button formaction="creatorAddShow">Add New Show</button>
    
    </form>
    <form action="/">
        <button  type="submit">Login Page</button>
    </form>
</body>
</html>