<!-- Stephen Greer -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="POST" th:object="${newUser}">

        <label for="username">Username: </label>
        <input type="text" th:field="*{userName}" id="username" >
        <br>
        <input type="submit" value="Login">
    </form>

    <h2>Valid Usernames</h2>
    <ul>
        <li>admin</li>
        <li>creator1</li>
        <li>creator2</li>
        <li>user1</li>
        <li>user2</li>
    </ul>

</body>
</html>