<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Watch List</h1>
    <button><a href="/watchList">Your Watch List</a></button>
    <button><a href="/showList">List of Shows</a></button>
    <table border>
        <tr>
            <th>Title</th>
            <th>Episodes Watched</th>
            <th>Rating</th>
        </tr>
        <tr th:each="watch: ${watchList}">
            <td th:text="${watch.show.showTitle}"></td>
            <td th:text="${watch.episodesWatched}"></td>
            <td th:text="${watch.rating}"></td>
        </tr>
    </table>
    <h1>Add To Watch List</h1>
    <form action ="watchList" method = "POST" th:object="${newWatch}">
		
		<label for = "showTitle">Show Title :</label>
        <!-- <input type = "showTitle" id = "showTitle" name = "showTitle"><br></br> -->
        <select name = "showTitle" id = "showTitle">
            <option th:each="show: ${showList}" th:value = "${show.showTitle}" th:text="${show.showTitle}"></option>
        </select>
		
		<label for = "epWatched">Episodes Watched :</label>
		<input type = "text" id = "epWatched" name = "" th:field="*{episodesWatched}"><br></br>
		
		<label for = "epRating">Rating : </label>
		<input type = "text" id = "epRating" name = "" th:field="*{rating}"><br></br>
        
		<input type = "submit" value = "Submit">
		
    </form>
    <button><a href="/logout">Logout</a></button>
</body>
</html>